bluemix/ChatBot.txt
[{"id":"85e3cecc.fa1df8","type":"watson-conversation-v1","z":"3655784e.bed868","name":"","workspaceid":"adf90b39-4610-469b-81c7-3cb0651456eb","multiuser":false,"context":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":454,"y":101,"wires":[["f449b0e8.ef5d8","ceb7ccee.51f4c8"]]},{"id":"3ae5f4b7.1ed3a4","type":"inject","z":"3655784e.bed868","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109,"y":37,"wires":[["def3cea8.435f78"]]},{"id":"80c5e96b.c3e428","type":"change","z":"3655784e.bed868","name":"saudacao","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"ola bom dia\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":101,"wires":[["85e3cecc.fa1df8","4dab8a12.74d02c","efbcb072.bf7d7"]]},{"id":"f449b0e8.ef5d8","type":"debug","z":"3655784e.bed868","name":"","active":true,"console":"false","complete":"false","x":671,"y":23,"wires":[]},{"id":"86647210.8a9c28","type":"play audio","z":"3655784e.bed868","name":"","voice":"","x":660,"y":229,"wires":[]},{"id":"e2d8bc97.d979c","type":"debug","z":"3655784e.bed868","name":"","active":true,"console":"false","complete":"outputtexto","x":649,"y":411,"wires":[]},{"id":"ceb7ccee.51f4c8","type":"function","z":"3655784e.bed868","name":"recupera texto","func":"msg.outputtexto = msg.payload.output.text;\nmsg.payload = msg.outputtexto[0];\nreturn msg;","outputs":1,"noerr":0,"x":664,"y":100,"wires":[["e2d8bc97.d979c","f0053956.31b378","8d1cf7f.443b088"]]},{"id":"f0053956.31b378","type":"watson-text-to-speech","z":"3655784e.bed868","name":"","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":true,"default-endpoint":false,"service-endpoint":"","x":662,"y":170,"wires":[["86647210.8a9c28"]]},{"id":"def3cea8.435f78","type":"function","z":"3655784e.bed868","name":"fluxo de mensagens","func":"if ( msg.idmsg === undefined){\n    msg.idmsg = 0;\n} else {\n    msg.idmsg++;\n}\nreturn msg;","outputs":1,"noerr":0,"x":304,"y":36,"wires":[["767dd9ae.8ede38","e9dca4c1.babf28"]]},{"id":"767dd9ae.8ede38","type":"switch","z":"3655784e.bed868","name":"","property":"idmsg","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","outputs":5,"x":94,"y":101,"wires":[["80c5e96b.c3e428"],["a4a21040.c4403"],["f014e8f3.e4f16"],["7feb5399.22723c"],["f449b0e8.ef5d8"]]},{"id":"a4a21040.c4403","type":"change","z":"3655784e.bed868","name":"e a conta?","rules":[{"t":"set","p":"payload","pt":"msg","to":"e minha conta, como tá?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":243,"y":170,"wires":[["85e3cecc.fa1df8","4dab8a12.74d02c","efbcb072.bf7d7"]]},{"id":"f014e8f3.e4f16","type":"change","z":"3655784e.bed868","name":"conta corrente","rules":[{"t":"set","p":"payload","pt":"msg","to":"conta corrente","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":252,"y":242,"wires":[["85e3cecc.fa1df8","4dab8a12.74d02c","efbcb072.bf7d7"]]},{"id":"7feb5399.22723c","type":"change","z":"3655784e.bed868","name":"bye","rules":[{"t":"set","p":"payload","pt":"msg","to":"bye","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":223,"y":304,"wires":[["85e3cecc.fa1df8","4dab8a12.74d02c","efbcb072.bf7d7"]]},{"id":"8d1cf7f.443b088","type":"delay","z":"3655784e.bed868","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":461,"y":209,"wires":[["def3cea8.435f78"]]},{"id":"e9dca4c1.babf28","type":"debug","z":"3655784e.bed868","name":"","active":true,"console":"false","complete":"idmsg","x":388,"y":408,"wires":[]},{"id":"4dab8a12.74d02c","type":"debug","z":"3655784e.bed868","name":"","active":true,"console":"false","complete":"false","x":176,"y":396,"wires":[]},{"id":"efbcb072.bf7d7","type":"watson-text-to-speech","z":"3655784e.bed868","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","format":"audio/wav","password":"","payload-response":true,"default-endpoint":false,"service-endpoint":"","x":473,"y":290,"wires":[["86647210.8a9c28"]]}]