bluemix/Image Recognition.txt
[{"id":"c00f0edf.40c2b8","type":"http response","z":"554f848a.861234","name":"","x":596,"y":63,"wires":[]},{"id":"c5c26186.037b6","type":"http in","z":"554f848a.861234","name":"","url":"/recognize/objects","method":"get","upload":false,"swaggerDoc":"","x":105,"y":68,"wires":[["938999f5.0a63e"]]},{"id":"938999f5.0a63e","type":"switch","z":"554f848a.861234","name":"","property":"payload.url","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","outputs":2,"x":136,"y":137,"wires":[["14a134a1.4e25c3","f1554d18.121fc8"],["77867278.88fffc","f1554d18.121fc8"]]},{"id":"14a134a1.4e25c3","type":"template","z":"554f848a.861234","name":"List Images","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Welcome to a Watson Visual Recognition sample Object Detection app</h1>\n<H2>Recognize anyone?</H2>\n<form  action=\"{{req._parsedUrl.pathname}}\">\n    <a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\" height='150'/></a>\n    <a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\" height='150'/></a>\n    <a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\" height='150'/></a>\n    <a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\" height='150'/></a>\n    <a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\" height='150'/></a>\n        <br/>Right-click one of the above images and select Copy image location and paste the URL in the box below.<br>Do an image search for faces, try multiple faces. After you click on an image, to the right it usually says \"View image\" click that to get the URL.<br/>\n    <br>Image URL: <input type=\"text\" name=\"url\"/>\n    <input type=\"submit\" value=\"Analyze\"/>\n</form>\n","x":358,"y":65,"wires":[["c00f0edf.40c2b8"]]},{"id":"bb98bffd.ec7478","type":"visual-recognition-v3","z":"554f848a.861234","name":"","apikey":"","image-feature":"classifyImage","lang":"en","x":385,"y":151,"wires":[["bf001c81.dc2e18"]]},{"id":"77867278.88fffc","type":"change","z":"554f848a.861234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":235,"wires":[["bb98bffd.ec7478"]]},{"id":"bf001c81.dc2e18","type":"template","z":"554f848a.861234","name":"Format Results","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#result.images}}\n <img src=\"{{source_url}}\"  height='200'/><br />\n {{#classifiers}}\n <h2>{{name}}</h2>\n <table border=\"1\">\n <tr>\n <td>Class</td>\n <td>Score</td>\n <td>Type Hierarchy</td>\n </tr> \n {{#classes}}\n <tr>\n <td>{{class}}</td>\n <td>{{score}}</td>\n <td>{{type_hierarchy}}</td>\n </tr>\n {{/classes}}\n </table>\n {{/classifiers}}\n{{/result.images}}\n    <form  action=\"{{req._parsedUrl.pathname}}\">\n        <br><input type=\"submit\" value=\"Try again or go back to the home page\"/>\n    </form>\n","x":594,"y":150,"wires":[["c00f0edf.40c2b8"]]},{"id":"551e7dd3.16e81c","type":"template","z":"554f848a.861234","name":"List Images old","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<style>\n img {\n max-width: 100px;\n max-height: 100px;\n }\n</style>\n\n<h2>Visual Recognition in Node-RED</h2>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/1.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/2.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/3.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/4.jpg\"></a>\n<a href=\"/recognize/objects?url=https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"><img src=\"https://visual-recognition-demo.mybluemix.net/images/samples/5.jpg\"></a>\n","x":368,"y":103,"wires":[[]]},{"id":"f1554d18.121fc8","type":"debug","z":"554f848a.861234","name":"","active":true,"console":"false","complete":"false","x":454,"y":229,"wires":[]}]