bluemix/TTS.txt
[{"id":"a8dc4d70.cc4ce","type":"template","z":"523d8f73.82b478","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n  <title>IBM Watson - Text To Speech</title>\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\"></script>\n  \n  <script type=\"text/javascript\">\n    var socketaddy = \"wss://\" + window.location.host + \"/ws/audio\";\n    // no firefox da erro quando estando em https:// tenta-se usar ws://, trocado para wss://\n    console.log('9','address:',socketaddy);\n    $(document).ready(function(){\n      console.log('11','document ready');\n      var output = document.getElementById('output')\n      console.log('13',output);\n      $('#output').on('playing', function () {\n          console.log('15','Playing audio.');\n          $('#text').text('Playing audio.');\n      });\n      console.log('18');\n      $('#output').on('ended', function () {\n          console.log('20','Waiting for audio...');\n          $('#text').text('Waiting for audio...');\n      });\n      console.log('23 socket:',socketaddy);\n      sock = new WebSocket(socketaddy);\n      console.log('25',sock);\n      sock.onopen = function(){\n          console.log('27',\"Connected websocket\");\n          $('#text').text('Waiting for audio...');\n      };\n      console.log('30');\n      sock.onerror = function(){ \n          console.log('32',\"Websocket error\"); \n      };\n      console.log('34');\n      sock.onclose = function () {\n          console.log('36','Not connected. Refresh the page?');\n          $('#text').text('Not connected. Refresh the page?')\n      }\n      console.log('39');\n      sock.onmessage = function(evt){\n        console.log('41',\"Websocket message\", evt); \n        output.src = window.URL.createObjectURL(evt.data);\n        output.play();\n      };\n      console.log('45');\n    });\n  </script>\n  \n</head>\n<body style=\"font-size: 56px; font-family: helvetica; text-align: center; margin-top: 100px;\">\n  <div id=\"text\">Connecting...</div>\n  <audio id=\"output\"></audio>\n</body>\n</html>","x":311,"y":375,"wires":[["a5d52599.25b638"]]},{"id":"87b9fd89.ae3468","type":"watson-text-to-speech","z":"523d8f73.82b478","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"","password":"","payload-response":false,"default-endpoint":false,"service-endpoint":"","x":402,"y":40,"wires":[["c9d3d22d.5183c"]]},{"id":"9d2e6221.29e7f","type":"inject","z":"523d8f73.82b478","name":"","topic":"","payload":"Hello my name is James","payloadType":"string","repeat":"","crontab":"","once":false,"x":147.09090423583984,"y":268.7272710800171,"wires":[["87b9fd89.ae3468","7af92e57.a1428"]]},{"id":"d07f6e89.ffab28","type":"websocket out","z":"523d8f73.82b478","name":"","server":"e82d2201.ba4c58","client":"","x":574.0909042358398,"y":246.7272710800171,"wires":[]},{"id":"41c557a2.70c838","type":"http in","z":"523d8f73.82b478","name":"","url":"/audio","method":"get","upload":false,"swaggerDoc":"","x":127.81817626953125,"y":366.36363220214844,"wires":[["a8dc4d70.cc4ce"]]},{"id":"a5d52599.25b638","type":"http response","z":"523d8f73.82b478","name":"","x":550.3636646270752,"y":374.63634872436523,"wires":[]},{"id":"c9d3d22d.5183c","type":"function","z":"523d8f73.82b478","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":415.81817696311253,"y":158.5454528981989,"wires":[["d07f6e89.ffab28"]]},{"id":"7af92e57.a1428","type":"debug","z":"523d8f73.82b478","name":"","active":true,"console":"false","complete":"false","x":366,"y":262,"wires":[]},{"id":"9347954d.6a7c08","type":"play audio","z":"523d8f73.82b478","name":"","voice":"","x":575,"y":118,"wires":[]},{"id":"f7aa858c.f2001","type":"template","z":"523d8f73.82b478","name":"Template2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n   <head>\n\t\n      <script type=\"text/javascript\">\n         function WebSocketTest()\n         {\n            if (\"WebSocket\" in window)\n            {\n               alert(\"WebSocket is supported by your Browser!\");\n               console.log('11')\t;\n               // Let us open a web socket\n               var ws = new WebSocket(\"ws://fiscal-cidadaov2.mybluemix.net/ws/audio\");\n\t\t\tconsole.log('14')\t;\n               ws.onopen = function()\n               {\n                  // Web Socket is connected, send data using send()\n                  console.log('18')\t;\n                  ws.send(\"Message to send\");\n                  alert(\"Message is sent...\");\n               };\n\t\t\tconsole.log('22')\t;\t\n               ws.onmessage = function (evt) \n               { \n                   console.log('25')\t;\n                  var received_msg = evt.data;\n                  alert(\"Message is received...\");\n               };\n\t\t\t\tconsole.log('29')\t;\n               ws.onclose = function()\n               { \n                   console.log('32')\t;\n                  // websocket is closed.\n                  alert(\"Connection is closed...\"); \n               };\n            }\n            \n            else\n            {\n               // The browser doesn't support WebSocket\n               alert(\"WebSocket NOT supported by your Browser!\");\n            }\n         }\n      </script>\n\t\t\n   </head>\n   <body>\n   \n      <div id=\"sse\">\n         <a href=\"javascript:WebSocketTest()\">Run WebSocket</a>\n      </div>\n      \n   </body>\n</html>","x":298,"y":455,"wires":[[]]},{"id":"e82d2201.ba4c58","type":"websocket-listener","path":"/ws/audio","wholemsg":"false"}]